* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f2f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.left {
  flex: 1;
  padding-right: 40px;
}

.logo {
  color: #1877f2;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  color: #1c1e21;
  max-width: 400px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  background: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 14px;
  margin: 6px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #1877f2;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #166fe5;
}

.forgot {
  display: block;
  margin: 15px 0;
  font-size: 14px;
  color: #1877f2;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.signup-btn {
  background: #42b72a;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.signup-btn:hover {
  background: #36a420;
}

.bottom-text {
  margin-top: 20px;
  font-size: 14px;
  color: #1c1e21;
}

.bottom-text a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
